__pycache__/
*.py[cod]
.venv/
venv/
data/raw/**
data/processed/**
data/external_test/**
# keep the folder structure itself
!data/raw/**/
!data/**/.gitkeep
models/*.keras
models/*.h5
models/*.json
.ipynb_checkpoints/
.pytest_cache/

# dataset de trabajo (imagenes, no se versiona)
grape/
data_to_test/
